# 1. What are data structures, and why are they important?

* Ans: Data structures are specialized format to organizing, storing, and accessing collection of data.

## Important
* Data structures provide a structured way to represent and manipulate data,
making it easier to solve complex problems.
* Data structures optimize how data is organized, allowing for faster access, insertion, deletion, and retrieval of information.

#2. Explain the difference between mutable and immutable data types with examples?

* Ans: Mutable data can be change. In immutable data you can not change

In [17]:
list= [1, 2, 3, 44]
type(list)
list[2]= 34
print(list)

[1, 2, 34, 44]

In [19]:
list1= {1,2,3,44}
list1[1] = 22
print(list1)

TypeError: 'set' object does not support item assignment

# 3. What are the main differences between lists and tuples in Python?

* Ans: Lists are mutable, meaning their elements can be changed after creation (elements can be added, removed, or modified). Tuples, on the other hand, are immutable, and their elements cannot be changed after creation.

# 4. Describe how dictionaries store data?

* Dictionaries store data in key:value pair mathod.

# 5. Why might you use a set instead of a list in Python?

* Ans: A set is an unordered collection of unique elements, Set automatically eliminate duplicate values, while a list is an ordered collection that can store duplicate value.

# 6. What is a string in Python, and how is it different from a list?

* Ans: a string is a squence of characters. A list can be store anything like intger, flot, string, etc.

# 7.  How do tuples ensure data integrity in Python?

* Ans: Once a data created in tuples that can not be change, remove, or modify.

# 8. What is a hash table, and how does it relate to dictionaries in Python?

* Ans: A hash table is a data structure that stores key-value pairs, using a hash function to compute an index for each key.

# 9.  Can lists contain different data types in Python?

* Ans: Yes, lists contain different data types.

In [20]:
list2= [1, 2, 4, "Anil", 7.7, 1+2j, (3, "Arun", 9)]

In [21]:
list2

[1, 2, 4, 'Anil', 7.7, (1+2j), (3, 'Arun', 9)]

# 10. Explain why strings are immutable in Python.

* Ans: Strings in Python are “immutable” which means they can not be changed after they are created.

# 11. What advantages do dictionaries offer over lists for certain tasks?

* Ans: Dictionaries provide faster lookups compared to lists when searching by key.

# 12. Describe a scenario where using a tuple would be preferable over a list?

* Ans: If you want your data read only and naver cahnge ten tuple is preferable over list.

# 13. How do sets handle duplicate values in Python?

* Ans: Sets are designed to store only unique elements. When attempting to add a duplicate value to a set, it is automatically ignored.

In [24]:
set1= {1, 2, 2, 4, 5, 5, 4, 7 }

In [25]:
set1

{1, 2, 4, 5, 7}

# 14. How does the “in” keyword work differently for lists and dictionaries?

* Ans:

# 15. Can you modify the elements of a tuple? Explain why or why not?

* Ans: No, you can not modify the elements of a tuple becouse tuples are immutable.

# 16. What is a nested dictionary, and give an example of its use case?

* Ans: A nested dictionary in Python is a dictionary where the values are themselves dictionaries.

# 17. Describe the time complexity of accessing elements in a dictionary?

* Ans: The time complexity of retrieving a value by its key in a dictionary.

# 18. In what situations are lists preferred over dictionaries?

* Ans:

# 19. Why are dictionaries considered unordered, and how does that affect data retrieval.

* ans: A dictionary is termed an unordered collection of objects because dictionaries do not maintain any inherent order of the items based on when they were added.

# 20.  Explain the difference between a list and a dictionary in terms of data retrieval.

* Ans: In terms of data retrieval, lists access elements by numerical index, while dictionaries access elements by unique keys.

## Practical Questions

* (#) denote Quextion number

In [27]:
#1
a= "arun"

In [30]:
print(a)

arun

In [33]:
#2
b= ("hello world")

In [34]:
len(b)

11

In [35]:
#3
a= ("arun", "anil", "lokesh", "vikas")

In [36]:
a[3:]

('vikas',)

In [39]:
#4
b= "hello"

In [40]:
b.upper()

'HELLO'

In [50]:
#5
word= "i like apple"

In [52]:
word.replace("apple", "orange")

'i like orange'

In [53]:
#6
list= [1, 2, 3, 4, 5]

In [54]:
print(list)

[1, 2, 3, 4, 5]

In [58]:
#7
list= [1, 2, 3, 4]

In [59]:
list.append(10)
print(list)

[1, 2, 3, 4, 10]

In [63]:
#8
list= [1, 2, 3, 4, 5]

In [64]:
list.remove(3)
print(list)

[1, 2, 4, 5]

In [65]:
#9
list1= ['a', 'b', 'c', 'd']

In [66]:
list[1]

2

In [74]:
#10
list2= [10, 20, 30, 40, 50]

In [76]:
list2.reverse()
print(list2)

[50, 40, 30, 20, 10]

In [77]:
#11
t= (100, 200, 300)

In [78]:
print(t)
type(t)

(100, 200, 300)

tuple

In [79]:
#12
t1= ('red', 'green', 'blue', 'yellow')

In [84]:
t1[1:]

('green', 'blue', 'yellow')

In [86]:
#13
t1= (10, 20, 5, 15)

In [87]:
min(t1)

5

In [97]:
#14
pat=  ('dog', 'cat', 'rabbit')

In [99]:
pat.index("cat")

1

In [112]:
#15
fruit= ("apple", "banana", "kiwi")
if "kiwi" in fruit:
  print("love")

love

In [113]:
#16
set= {"a", "b", "c"}

In [114]:
set

{'a', 'b', 'c'}

In [115]:
#17
set1= {1, 2, 3, 4, 5}

In [118]:
set1.clear()
print(set1)

set()

In [125]:
#18
set2= {1, 2, 3, 4}

In [124]:
set2.remove(4)
print(set2)

{1, 2, 3}

In [127]:
#19
a= {1,2,3}
b= {3,4,5}
print(a.union(b))

{1, 2, 3, 4, 5}

In [128]:
#20
c= {1,2,3}
d= {2,3,4}
print(c.intersection(d))

{2, 3}

In [131]:
#21
data= {"name": "arun", "age": 27, "city": "bareilly"}
print(data)

{'name': 'arun', 'age': 27, 'city': 'bareilly'}

In [132]:
#22
dic= {'name': 'John', 'age': 25}

In [133]:
dic2= {"country": "USA"}

In [135]:
dic.update(dic2)
print(dic)

{'name': 'John', 'age': 25, 'country': 'USA'}

In [139]:
#23
d= {"name": "Alice", "age": 30}

In [141]:
d["name"]

'Alice'

In [156]:
#24
d1=  {"name": "Bob", "age": 22, "city": "New York"}

In [157]:
del d1["age"]

In [158]:
d1

{'name': 'Bob', 'city': 'New York'}

In [166]:
#25
d2= {"name": "Alice", "city": "Paris"}
print(d2.pop("city"))

Paris

In [168]:
#26
a= {"name": ("arun", "anil", "lokesh"),"age": [22, 25, 29], "city": "bareilly"}

In [169]:
a

{'name': ('arun', 'anil', 'lokesh'), 'age': [22, 25, 29], 'city': 'bareilly'}

In [170]:
#27
number= [25, 10, 89, 44, 6]

In [173]:
number.sort()
print(number)

[6, 10, 25, 44, 89]

In [174]:
#28
list3= ["apple", "banana", "lichi", "lemon", "pineapple"]

In [180]:
list3[3]

'lemon'

In [181]:
#29
d3= {"name": "arun", "city": "bareilly",}
d4= {"age": 28, "email": "arun@gmail.com"}

In [183]:
d3.update(d4)
print(d3)

{'name': 'arun', 'city': 'bareilly', 'age': 28, 'email': 'arun@gmail.com'}

In [197]:
#30
list4= ["anil", "apple", "arun", "bnana", "lokesh", "vikas", "apple"]
set1= set(list4)

TypeError: 'set' object is not callable

In [201]:
list= ["anil", "apple", "arun", "bnana", "lokesh", "vikas", "apple"]
myset= set(list)

TypeError: 'set' object is not callable